<html>
    <head>
      {% if title %}
      <title>{{ title }} - SoloCary</title>
      {% else %}
      <title>Welcome to Hell!</title>
      {% endif %}
    </head>
    <body>
        <div>
            SoloCary:
            <a href="{{ url_for('index') }}">Домой</a>
            <a href="{{ url_for('login') }}">Вход</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>